.wd-kanbas-navigation {
  background-color: black;
  list-style: none;
  padding: 0px;  margin: 0px;
  width: 80px;
}
.wd-kanbas-navigation li {
  padding: 10px;
  font-size: 0.8em;  text-align: center;
}
.wd-kanbas-navigation li.wd-active {
  background-color: white;
}
.wd-kanbas-navigation li.red-text a {
  color: red;
}
.wd-kanbas-navigation a {
  color: white;
  text-decoration: none;
}
.wd-kanbas-navigation a i {
  color: red;
  font-size: 2em;
}

.wd-kanbas-navbar {
  background-color: black;
  color: black;
}

.wd-kanbas-navbar li {
  padding: 10px;
  font-size: 0.8em; 
}
.wd-kanbas-navbar li.wd-active {
  background-color: white;
}
.wd-kanbas-navbar li.red-text a {
  color: red;
}
.wd-kanbas-navbar a {
  color: white;
  text-decoration: none;
}
.wd-kanbas-navbar a i {
  color: red;
  font-size: 2em;
}

.wd-kanbas-navbar ul {
  margin-bottom: 0;
}